.stock-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    margin: 0.8rem 0;
    background-color: #B1C9EE;
    border-radius: 15px;
    width: 75%;
    height: 145px;
  }
  
  .stock-item-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .stock-item-title {
    font: 'Lato';
    color: #13110d;
    font-size: 20px;
    flex: 1;
    margin: 0 1rem;
    padding-left: 48px;
  }
  
  .stock-item-amount {
    font-size: 22px;
    font-weight: 500;
    color: #13110d;
    padding: 0.5rem;
    margin-right: 70px;
    font-weight: bold;
  }
