.stock-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #3B6AC1;
    background-color: #3B6AC1;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 105px;
    height: 105px;
  }
  
  .stock__month {
    font-size: 1.1rem;
    padding-bottom: 0.9px;
  }
  
  .stock__year {
    font-size: 0.8rem;
    font-weight: 200;
    padding-bottom: 6px;
    font-weight: 100;
  }
  
  .stock__day {
    font-size: 1.3rem;
  }