.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 100px;
}

.logo{
    width: 200px;
    height: 100px;
    margin-top: 7px;
}

.logo-container {
    width: 25%;
    height: 80%;
}

.nav-container {
    width: 60%;
}

.login-container {
    width: 15%;
}