.navbar-container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-button-container{
    margin-top: 74px;
}

.navbar-button{
    color: black;
    font-weight: 400;
    font-size: 19px;
}

.navbar-button:hover, .navbar-button:active{
    font-weight: 600;
    cursor: pointer;
}

#seed {
    padding-right: 140px;
}

#profits {
    padding-right: 140px;
}

#others {
    padding-right: 115px;
}