@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 0;
  margin-top: 5vh;
  background-color: white;
}